body {
  text-align: center;
  background-color: hsl(0, 0%, 95%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  /* width: 25%; */
}

div{
  /* width: 33.33%
  display: inline-block;
   */
  padding-top: 70px;
  /* margin: 0; */
}

img{


}
h1 {
  /* width: 25%; */
  line-height: 2;
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
}

.main {
  /* width: 75%; */
  /* background-color: red;
  position: relative;
  left: 200px;
  top: 100px;  */
 }

.sedan {
  position: relative;
  border-radius: 10px 0 0 10px;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: -0.25em;
  width: 250px;
  height: 400px;
  display: inline-block;
  background-color: hsl(31, 77%, 52%);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
}

.suv {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: -0.25em;
  width: 250px;
  height: 400px;
  display: inline-block;
  background-color: hsl(184, 100%, 22%);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
}

.luxury {
  /* margin-right: -0.25em; */
  border-radius: 0 10px 10px 0;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  width: 250px;
  height: 400px;
  display: inline-block;
  background-color: hsl(179, 100%, 13%);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
}

.btn{
  padding-top: 20px;
  position: absolute;
}

.button-sedan{
  border-radius: 15px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  border: none;
  padding: 10px 20px 10px 20px;
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: none;
}
.button-sedan:active{
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  border: solid white 1px;
  /* cursor: pointer; */

}

.button-suv{
  border-radius: 15px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  border: none;
  padding: 10px 20px 10px 20px;
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: none;
}
.button-suv:active{
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  border: solid white 1px;
  /* cursor: pointer; */
}

.button-luxury{
  border-radius: 15px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  border: none;
  padding: 10px 20px 10px 20px;
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: none;
}
.button-luxury:active{
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  border: solid white 1px;
  /* cursor: pointer; */
}

.footer-tag{
  display: inline;
  color: black;
  font-family: monospace;
  font-size: 11px;
  font-weight: bold;
}
.frontend{
  display: inline;
  border-radius: 20px;
  border: none;
  font-family: monospace;
  font-size: 12px;
  color: blue;
  background-color: hsl(0, 0%, 80%);
  padding: 8px 20px 8px 20px;
  text-decoration: none;
}

/* .footer{
  padding-top: 70px;
} */

@media(max-width:500px)
{
  .sedan{
    border-radius: 10px 10px 0 0;
  }

  .luxury{
    border-radius: 0 0 10px 10px;
    margin-right: -0.25em;
  }

  .footer{
    padding-bottom: 70px;
  }
}
